<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ping"
            class="ch.flatland.cdo.service.ping.PingServlet"
            load-on-startup="true">
      </servlet>
   </extension>

</plugin>
