<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/node"
            class="ch.flatland.cdo.service.repoaccess.RepoAccessServlet"
            httpcontextId="ch.flatland.cdo.service.repoaccess.AuthHttpContext"
            load-on-startup="true">
      </servlet>
      <servlet
            alias="/obj"
            class="ch.flatland.cdo.service.repoaccess.RepoAccessServlet"
            httpcontextId="ch.flatland.cdo.service.repoaccess.AuthHttpContext"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            class="ch.flatland.cdo.service.repoaccess.AuthHttpContext"
            id="ch.flatland.cdo.service.repoaccess.AuthHttpContext">
      </httpcontext>
   </extension>

</plugin>
