<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="ch.flatland.cdo.model.test"
            class="ch.flatland.cdo.model.test.TestPackage"
            genModel="model/test.xcore"/>
   </extension>

</plugin>
